openapi: 3.0.3
info:
  title: Api Documentation
  description: Api Documentation
  termsOfService: 'urn:tos'
  contact: {}
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0'
  version: '1.0'
servers:
  - url: 'https://api.branchapp.com/v1'
    description: Inferred Url
tags:
  - name: organization-controller
    description: Organization Controller
  - name: organization-wallet-controller
    description: Organization Wallet Controller
paths:
  /organizations:
    get:
      tags:
        - organization-controller
      summary: getAllOrganizations
      operationId: getAllOrganizationsUsingGET
      parameters:
        - name: apikey
          in: header
          description: X-Consumer-Custom-ID
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          style: form
          schema:
            type: integer
            format: int64
        - name: size
          in: query
          required: false
          style: form
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageOfOrganizationDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/organizations/{orgId}':
    get:
      tags:
        - organization-controller
      summary: getOrganization
      operationId: getOrganizationUsingGET
      parameters:
        - name: apikey
          in: header
          description: X-Consumer-Custom-ID
          required: true
          schema:
            type: string
        - name: orgId
          in: path
          description: orgId
          required: true
          style: simple
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/organizations/{orgId}/employees/{employeeId}/wallets':
    post:
      tags:
        - organization-wallet-controller
      summary: createWalletForEmployee
      operationId: createWalletForEmployeeUsingPOST
      parameters:
        - name: apikey
          in: header
          description: X-Consumer-Custom-ID
          required: true
          schema:
            type: string
        - name: orgId
          in: path
          description: orgId
          required: true
          style: simple
          schema:
            type: integer
            format: int32
        - name: employeeId
          in: path
          description: employeeId
          required: true
          style: simple
          schema:
            type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWalletForEmployeeRequest'
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/OrganizationWalletDto'
        '201':
          description: Created
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/organizations/{orgId}/wallet_statuses':
    get:
      tags:
        - organization-wallet-controller
      summary: getWalletStatuses
      operationId: getWalletStatusesUsingGET
      parameters:
        - name: apikey
          in: header
          description: X-Consumer-Custom-ID
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          style: form
          schema:
            type: integer
            format: int64
        - name: size
          in: query
          required: false
          style: form
          schema:
            type: integer
            format: int64
        - name: orgId
          in: path
          description: orgId
          required: true
          style: simple
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageOfOrganizationWalletStatusDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
  '/organizations/{orgId}/wallets':
    get:
      tags:
        - organization-wallet-controller
      summary: getWallets
      operationId: getWalletsUsingGET
      parameters:
        - name: apikey
          in: header
          description: X-Consumer-Custom-ID
          required: true
          schema:
            type: string
        - name: page
          in: query
          required: false
          style: form
          schema:
            type: integer
            format: int64
        - name: size
          in: query
          required: false
          style: form
          schema:
            type: integer
            format: int64
        - name: orgId
          in: path
          description: orgId
          required: true
          style: simple
          schema:
            type: integer
            format: int32
      responses:
        '200':
          description: OK
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/PageOfOrganizationWalletDto'
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
components:
  schemas:
    Address:
      title: Address
      required:
        - address_1
        - city
        - postal_code
        - state
      type: object
      properties:
        address_1:
          type: string
        address_2:
          type: string
        city:
          type: string
        country:
          type: string
        postal_code:
          pattern: '^\d{5}(-\d{4}){0,1}$'
          type: string
          example: '55123'
        state:
          maxLength: 2
          minLength: 2
          type: string
          example: MN
    CreateWalletForEmployeeRequest:
      title: CreateWalletForEmployeeRequest
      required:
        - address
        - date_of_birth
        - first_name
        - last_name
        - ssn
      type: object
      properties:
        address:
          $ref: '#/components/schemas/Address'
        create_employee:
          type: boolean
        date_of_birth:
          pattern: '[0-9]{4}-[0-9]{2}-[0-9]{2}'
          type: string
          example: '2000-01-01'
        email:
          type: string
        first_name:
          type: string
        last_name:
          type: string
        middle_name:
          type: string
        phone_number:
          type: string
          example: '+11235550123'
        ssn:
          pattern: '[0-9]{9}'
          type: string
          example: '123456789'
    OrganizationDto:
      title: OrganizationDto
      type: object
      properties:
        id:
          type: integer
          format: int32
        name:
          type: string
        org_key:
          type: string
    OrganizationWalletDto:
      title: OrganizationWalletDto
      type: object
      properties:
        account_number:
          type: string
        employee_id:
          type: string
        has_activated_card:
          type: boolean
        routing_number:
          type: string
        status:
          type: string
          enum:
            - ACTIVE
            - NOT_CREATED
            - PENDING
            - UNCLAIMED
        time_created:
          type: string
          format: date-time
    OrganizationWalletStatusDto:
      title: OrganizationWalletStatusDto
      type: object
      properties:
        employee_id:
          type: string
        wallet_status:
          type: string
          enum:
            - ACTIVE
            - NOT_CREATED
            - PENDING
            - UNCLAIMED
    PageOfOrganizationDto:
      title: PageOfOrganizationDto
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationDto'
        page_number:
          type: integer
          format: int64
        size:
          type: integer
          format: int64
        total_number_of_elements:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
    PageOfOrganizationWalletDto:
      title: PageOfOrganizationWalletDto
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationWalletDto'
        page_number:
          type: integer
          format: int64
        size:
          type: integer
          format: int64
        total_number_of_elements:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
    PageOfOrganizationWalletStatusDto:
      title: PageOfOrganizationWalletStatusDto
      type: object
      properties:
        content:
          type: array
          items:
            $ref: '#/components/schemas/OrganizationWalletStatusDto'
        page_number:
          type: integer
          format: int64
        size:
          type: integer
          format: int64
        total_number_of_elements:
          type: integer
          format: int64
        total_pages:
          type: integer
          format: int64
