h1, h2, h3, h4, h5, h6, a, p, span {
    font-family: raleway-light, sans-serif;
}

h1, h2, h3, h4, h5, h6, a, span {
    color: #333 !important;
}

.green {
    background: #3FC380 !important;
}

.red {
    background: #f64747 !important;
}

.blue {
    background: #3498DB !important;
}

.green-text {
    color: #3FC380 !important;
}

.red-text {
    color: #f64747 !important;
}

.blue-text {
    color: #3498DB !important;
}

.cd-main-content {
    padding-top: 45px;
}

.mdl-layout__header-row {
    background-color: #FFF;
}

.mdl-layout__header--scroll {
    box-shadow: 0 1px 15px #333;
}

.content {
    margin: -1px auto;
    padding: 1px 0;
    background: white;
    -webkit-box-shadow: 0 9px 0 0 white, 0 0 0 0 white, 5px 0 15px -4px #333, -5px 0 15px -4px #333;
    -moz-box-shadow: 0 9px 0 0 white, 0 0 0 0 white, 5px 0 15px -4px #333, -5px 0 15px -4px #333;
    box-shadow: 0 9px 0 0 white, 0 0 0 0 white, 5px 0 15px -4px #333, -5px 0 15px -4px #333;
}

.mdl-layout__header, .mdl-layout__header-row {
    height: 75px !important;
}

.header-nav-link {
    cursor: pointer;
    position: absolute;
    line-height: 75px;
    right: 0;
    padding: 0 10px;
}

.header-nav-link:hover {
    background-color: #EEEEEE;
}

.cd-fixed-bg.cd-bg-1 {
    background-image: url("../img/cranes_2.jpg");
}

@media screen and (min-width: 851px) {
    .cd-fixed-bg.cd-bg-1 {
        min-height: 65vh;
    }
}

@media screen and (max-width: 850px) {
    .header-nav-link {
        display: none;
    }
}

.cd-fixed-bg.cd-bg-2 {
    background-image: url("../img/hero-image-2.jpg");
    overflow: hidden;
}

.center {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    width: 90%;
    max-width: 1170px;
    text-align: center;
    color: white;
}

.mdl-layout__header .mdl-layout__drawer-button {
    color: black;
    background-color: transparent !important;
    font-size: 35px;
    line-height: 65px;
}

#home-title-wrapper, #home-title-wrapper h1 {
    color: #EFEFEF !important;
    font-weight: bold !important;
    text-shadow: -1px 0 #777, 0 1px #777, 1px 0 #777, 0 -1px #777;
}

#home-title-header {
    margin-bottom: 0;
}

.no-margin {
    margin: 0;
}

#icon-wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    margin: 5vh;
    padding: 0 25px;
}

#icon-wrapper > li {
    display: inline-block;
}

.info-decal-wrapper, .info-decal {
    text-align: center;
    margin: auto;
}

.info-decal-wrapper .circle {
    margin-bottom: 10px;
}

.circle {
    width: 17vh;
    height: 17vh;
    line-height: 17vh !important;
    border-radius: 50%;
    text-align: center;
    background: #EDEDED;
    -webkit-transition: all 300ms;
    transition: all 300ms;
}

.circle i {
    font-size: 10vh;
    line-height: 17vh;
    color: #777;
}

.circle.clickable:hover {
    cursor: pointer;
    -webkit-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    -moz-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
}

.cd-scrolling-bg {
    padding: .01em 0;
}

pre {
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}

code {
    font-family: Courier, 'New Courier', monospace;
    font-size: 12px;
}

#codeStyler {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    margin: 1em 0;
}

.terminal {
    border-radius: 10px;
    background-color: #444;
    color: #efefef;
}

.terminal code {
    text-align: left;
}

.raised {
    -webkit-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    -moz-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
}

.something-wrapper {
    padding: 0 50px !important;
}

.something {
    padding: 10px;
    background: rgba(255, 255, 255, .9);
    -webkit-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    -moz-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
}

.something .link-wrapper {
    text-align: right;
}

.something a {
    vertical-align: top;
    color: #3498DB !important;
}

@media only screen and (min-width: 993px) {
    .top.row {
        padding-top: 5%;
        margin: 0 0 15%;
    }

}

@media only screen and (max-width: 992px) {
    .top.row {
        padding-top: 30px;
        margin: 0;
    }

    .something-wrapper {
        margin-bottom: 30px;
    }

}

.nav-wrapper {
    margin: 0;
}

#side-links-wrapper {
    position: fixed;
    height: 100vh;
    top: 75px;
    width: 200px;
    margin-left: -200px;
    background-color: #fff;
    z-index: 100;
    padding: 0 !important;
}

#side-links-wrapper.visible {
    margin-left: 0;
}

.side-links {
    z-index: 10;
    -webkit-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    -moz-box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
    box-shadow: -2px 3px 6px 0 rgba(100, 100, 100, 0.75);
}

.side-link-entry {
    width: 100%;
}

.side-link-entry a {
    height: 56px;
    line-height: 56px;
    vertical-align: middle;
}

#doc-content {
    margin-top: 125px;
}

.sticky-drawer {
    margin: 4px;
    font-size: 35px;
    line-height: 65px;
    width: 48px;
    text-align: center;
    color: black;
    cursor: pointer;
    overflow: hidden;
}

#drawer-icon.expanded:before {
    content: "arrow_backward";
}

#drawer-icon:after {
    content: "menu";
}

#side-links-wrapper, #doc-content {
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}

.card {
    padding: 25px;
}

iframe {
    position: absolute;
    height: 100%;
    width: 100%;
}

.doc-separator {
    margin: -20px 50px 10px 0;
    border: 1px solid #3FC380;
}

.indented {
    padding-left: 50px !important;
}

.red-hover:hover {
    color: #f64747 !important;
}

.table .row {
    margin: 0;
}

.table .row:nth-child(odd) {
    background: rgba(0, 0, 0, .1);
}

.header {
    margin-bottom: -10px;
}

.hierarchy-item {
    margin: 0;
}